﻿@model MARKET_Online_programacion4.ViewsModel.PedidoFormViewModel
@{
    ViewBag.Title = "PedidoForm";
}

<h2>PedidoForm</h2>

@using (Html.BeginForm("Guardar", "Pedido"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Pedido</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Pedido.Clienteid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Pedido.Clienteid, new SelectList(Model.Clientes, "Id", "Nombre"), "Seleccione un cliente", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pedido.Clienteid, "{0:MM/dd//yyyy}", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pedido.FechaCreacion , htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pedido.FechaCreacion, new { htmlAttributes = new { @class = "form-control btn-btn-Primary" } })
                @Html.ValidationMessageFor(model => model.Pedido.FechaCreacion, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.Pedido.Id)

        <div class="form-group">
            @Html.ActionLink("Agregar un producto", "Agregar", new { }, new { @class = "btn-btn-Success" })
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>

    <table class="table-bordered table-hover">
        <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Tabla.Detalle.Producto.Nombre)
                    @Html.DisplayNameFor(model => model.Tabla.Detalle.Producto.Precio)
                    @Html.DisplayNameFor(model => model.Tabla.Detalle.Cantidad)
                    @Html.DisplayNameFor(model => model.Tabla.Detalle.Total)
                </td>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Producto.Count(); i++)
            {
               <tr>
                <td>@Html.DisplayFor(m => Model.Producto[i].Detalle.Producto.Nombre)</td>
                <td>@Html.DisplayFor(m => Model.Producto[i].Detalle.Producto.Precio)</td>
                <td>@Html.DisplayFor(m => Model.Producto[i].Detalle.Cantidad)</td>
                <td>@Html.DisplayFor(m => Model.Producto[i].Detalle.Total)</td>
                <td>
                    @Html.ActionLink("Eliminar","Delete", new {id = Model.Producto[i].Detalle.Id }, new {@class ="btn-btn-danger" } )
                </td>
                </tr>

              }
        </tbody>
    </table>



}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

