﻿t<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Market-Online</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Market-Online", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Registrar usuario", "Index", "Usuarios")</li>
                    <li>@Html.ActionLink("Cliente", "Index", "Clientes")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Elaborar los productos <b class="caret"> </b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Productos", "Index", "Producto")</li>
                            <li>@Html.ActionLink("Unidad de medida de los productos", "Index", "UnidadMedidas")</li>
                            <li>@Html.ActionLink("Clasificacion de los productos", "Index", "ClasificacionProducto")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Elaborar las ordenes <b class="caret"> </b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ordenes", "Index", "Pedido")</li>
                            <li>@Html.ActionLink("Nueva orden", "Crear", "Pedido")</li>
                            <li>@Html.ActionLink("Clasificacion de los productos", "Index", "ClasificacionProducto")</li>
                        </ul>
                    </li>




                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
