﻿@model MARKET_Online_programacion4.Models.Usuario

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contraseña)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Iduser }) |
    @Html.ActionLink("Volver a la pantalla principal", "Index")
</p>
