﻿@model IEnumerable<MARKET_Online_programacion4.Models.Usuario>

@{
    ViewBag.Title = "Inicio de usuario";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contraseña)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contraseña)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Iduser }) |
            @Html.ActionLink("Details", "Details", new { id=item.Iduser }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Iduser })
        </td>
    </tr>
}

</table>
